extends ../shared/layout

block body
    div.col-12.relpos
        div.col-12.relpos.design-img-container.overflow-hidden
            img.design-banner-img.col-12(src='#{imgpre}/one commerce/banner.png')
            div.design-banner-title.xs-only One Commerce Dashboard
        div.design-main-start.design-main-area.col-12(style='padding-bottom: 0px;')
            div.col-12
                div.design-achivement
                    img.design-achivement-icon(src='#{imgpre}/introduction.png')
                    div.design-achivement-title.design-text-title Introduction
                    div.design-achivement-content.design-text-content Microsoft store core/platform and lead ship team will need to take care of the overall health of transaction traffic through online billing and subscription services. The severity level is very high when jobs failed.
                div.design-achivement
                    img.design-achivement-icon(src='#{imgpre}/chanllenge.png')
                    div.design-achivement-title.design-text-title Chanllenge
                    div.design-achivement-content.design-text-content User groups of the portal include from platform engineering teams, operation teams, business support teams and senior leader ship team; Data visualization /business intelligence is required based on different people ‘demands
                div.design-achivement.design-achivement-last
                    img.design-achivement-icon(src='#{imgpre}/achievement.png')
                    div.design-achivement-title.design-text-title Achievement
                    div.design-achivement-content.design-text-content 5 user models were built up by user research. Through hands-off interaction between each roles, the customizable  dashboard was designed  for an efficient view in terms of the variety demands on data presentation.
            div.design-header.col-12
                div.design-text-title User Research
                div.design-text-content.design-text-sub-title The goals was to understand current tasks, workflow of multiple roles surrounding commerce platform; to identify pain points for experience improvement
                div.design-header-content.design-img-container.col-12
                    div.design-3-siblings
                        img(src='#{imgpre}/one commerce/research1.jpg')
                    div.design-3-siblings
                        img(src='#{imgpre}/one commerce/research2.jpg')
                    div.design-3-siblings
                        img(src='#{imgpre}/one commerce/research3.jpg')
        div.col-12
            div.design-header.col-12.design-img-container
                div.design-text-title Wireframes
                img.design-header-content(src='#{imgpre}/one commerce/wireframe.png')
        div.design-main-end.col-12
            div.design-header.col-12.design-img-container
                div.design-text-title High Fidelity & Prototype
                img.design-header-content(src='#{imgpre}/one commerce/demo GIF.gif' style='width: 60%; margin-left: auto; margin-right: auto;')
        include ../shared/thx