extends ../shared/layout

block body
    div.col-12.relpos
        div.col-12.relpos.design-img-container.overflow-hidden
            img.design-banner-img.col-12(src='#{imgpre}/media service/banner.png')
            div.design-banner-title.xs-only Media Service Partner Portal
        div.design-main-start.design-main-area.col-12
            div.col-12
                div.design-achivement
                    img.design-achivement-icon(src='#{imgpre}/introduction.png')
                    div.design-achivement-title.design-text-title Introduction
                    div.design-achivement-content.design-text-content Microsoft Azure partner portal is used by media service providers who will consume cloud computing service through Microsoft Azure. Users can also manage their service and monitor health by reporting monthly data.
                div.design-achivement
                    img.design-achivement-icon(src='#{imgpre}/chanllenge.png')
                    div.design-achivement-title.design-text-title Chanllenge
                    div.design-achivement-content.design-text-content It’s a new branding and we need to define all those styles to align Microsoft modern design language; Multiple roles will be involved in the workflow with different experience; reporting data visualization is required for a better view
                div.design-achivement.design-achivement-last
                    img.design-achivement-icon(src='#{imgpre}/achievement.png')
                    div.design-achivement-title.design-text-title Achievement
                    div.design-achivement-content.design-text-content We shipped both customer experience and administration experience in a compelling look and feel with consistency. The design process is also a learning experience for design team to practice participant workshop
            div.design-header.col-12.design-img-container
                div.design-text-title Storyboard
                img.design-header-content(src='#{imgpre}/media service/storyboard.jpg')
            div.design-header.col-12.design-img-container
                div.design-text-title Workflow
                div.design-text-content.design-text-sub-title The workflow is quite complex due to multiple user roles and the interaction between roles. so the completed flow was created for our better understanding. Based on the scenarios, we delivered separate click-through for experience definition.
                img.design-header-content(src='#{imgpre}/media service/workflow2.png')
        div.design-grey-area.col-12
            div.design-header.individual.col-12.design-img-container
                div.design-text-title High Fidelity
                div.design-text-content.design-text-sub-title We created pixel perfect high fidelity UI to front end developers. They are quite clean and crisp which maximize design simplicity as well.
                img.design-header-content(src='#{imgpre}/media service/hifi-background(989898).jpg')
        div.design-main-end.design-main-area.col-12
            div.design-header.col-12.design-img-container
                div.design-text-title CSS Definition
                div.design-text-content.design-text-sub-title To make sure design quality, I also provided motion design and CSS definition through the implementation process. This step-up also benefit efficient collaboration with developer team.
                img.design-header-content(src='#{imgpre}/media service/CSS.jpg')
        include ../shared/thx