extends ../shared/layout

block body
    div.col-12.relpos
        div.col-12.relpos.design-img-container.overflow-hidden
            img.design-banner-img.col-12(src='#{imgpre}/digital cards/banner.png')
            div.design-banner-title.xs-only Microsoft Digital Gift Cards
        div.design-main-area.col-12.design-main-start.design-area-end0
            div.col-12
                div.design-achivement
                    img.design-achivement-icon(src='#{imgpre}/introduction.png')
                    div.design-achivement-title.design-text-title Introduction
                    div.design-achivement-content.design-text-content The digital gift card app enabled a popular scenario by which users can send/receive e-cards to/from friends or families through Microsoft CSV-currency store value.
                div.design-achivement
                    img.design-achivement-icon(src='#{imgpre}/chanllenge.png')
                    div.design-achivement-title.design-text-title Chanllenge
                    div.design-achivement-content.design-text-content Consistent experience across variety device is the core design principle ; All kinds of stakeholders and long review process introduce more challenge to get consensus.
                div.design-achivement.design-achivement-last
                    img.design-achivement-icon(src='#{imgpre}/achievement.png')
                    div.design-achivement-title.design-text-title Achievement
                    div.design-achivement-content.design-text-content We ensured responsive & adoptive user experience to mobile phones, tablets devices as well as web browser. And the app had been published  to Windows app store on 2014/11.
            div.design-header.col-12.design-img-container
                div.design-text-title Opportunities
                div.design-text-content.design-text-sub-title Top 3 occasions for giving gift cards ( In a study done on 1000 US based shoppers by MyPoints).
        div.col-12.design-header-content
            div.design-3-siblings.need-align-design5
                div.design-3-siblings-design5
                    img(src='#{imgpre}/digital cards/digital cards-31.png')
                    div.design-text-content Birthdays
                    div.design-text-title(style='margin-top: 15px;') 76.2%
            div.design-3-siblings.need-align-design5
                div.design-3-siblings-design5
                    img(src='#{imgpre}/digital cards/digital cards-32.png')
                    div.design-text-content Christmax/Window Holidays
                    div.design-text-title(style='margin-top: 15px;') 70.5%
            div.design-3-siblings.need-align-design5
                div.design-3-siblings-design5
                    img(src='#{imgpre}/digital cards/digital cards-33.png')
                    div.design-text-content Graduation
                    div.design-text-title(style='margin-top: 15px;') 40.1%
            div.design-header.col-12.design-img-container
                div.design-text-title Workflow(Phone)
                img.design-header-content(src='#{imgpre}/digital cards/workflow for phone.png')
            div.design-header.col-12.design-img-container
                div.design-text-title Workflow(Surface)
                img.design-header-content(src='#{imgpre}/digital cards/workflow for surface.png')
        div.col-12.design-img-container.design-header-content
            img(src='#{imgpre}/digital cards/abcd.jpg')
        div.design-main-end.col-12.design-main-area
            div.design-header.col-12.text-center.design-img-container
                div.col-12.design-text-title High Fidelity UI
                div.col-12.design-text-content.design-text-sub-title we created both click through and hi fidelity user interface with redlines to make sure design quality.
                div.col-12
                    img.img-small-icon(src='#{imgpre}/digital cards/digital cards-28.png')
                div#design5_carousel1.col-12
                    div
                        img(src='#{imgpre}/digital cards/PC-1.png')
                    div
                        img(src='#{imgpre}/digital cards/PC-2.png')
                    div
                        img(src='#{imgpre}/digital cards/PC-3.png')
                div.col-12
                    img.img-small-icon.following(src='#{imgpre}/digital cards/digital cards-29.png')
                div#design5_carousel2.col-12
                    div
                        img(src='#{imgpre}/digital cards/surface-1.png')
                    div
                        img(src='#{imgpre}/digital cards/surface-2.png')
                    div
                        img(src='#{imgpre}/digital cards/surface-3.png')
                    div
                        img(src='#{imgpre}/digital cards/surface-4.png')
                div.col-12
                    img.img-small-icon.following(src='#{imgpre}/digital cards/digital cards-30.png')
                div#design5_carousel3.col-12
                    div
                        img(src='#{imgpre}/digital cards/phone-1.png')
                    div
                        img(src='#{imgpre}/digital cards/phone-2.png')
                    div
                        img(src='#{imgpre}/digital cards/phone-3.png')
                    div
                        img(src='#{imgpre}/digital cards/phone-4.png')
                script.
                    $('#design5_carousel1').slick({
                        infinite: true,
                        autoplay: true,
                        autoplaySpeed: 2000,
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        responsive: [{
                            breakpoint: 1201,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 1
                            }
                        }, {
                            breakpoint: 721,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }]
                    });
                    $('#design5_carousel2').slick({
                        infinite: true,
                        autoplay: true,
                        autoplaySpeed: 2000,
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        responsive: [{
                            breakpoint: 721,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }]
                    });
                    $('#design5_carousel3').slick({
                        infinite: true,
                        autoplay: true,
                        autoplaySpeed: 2000,
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        responsive: [{
                            breakpoint: 1201,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 1
                            }
                        }, {
                            breakpoint: 721,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 1
                            }
                        }]
                    });
        include ../shared/thx