extends ../shared/layout

block body
    div.col-12.relpos
        div.col-12.relpos.design-img-container.overflow-hidden
            img.design-banner-img.col-12(src='#{imgpre}/my server/banner-01.jpg')
            div.design-banner-title.xs-only My Server
        div.design-main-start.design-main-end.design-main-area.col-12
            div.col-12
                div.design-achivement
                    img.design-achivement-icon(src='#{imgpre}/introduction.png')
                    div.design-achivement-title.design-text-title Introduction
                    div.design-achivement-content.design-text-content My Server is a windows app and the target user are information workers who will need to access company server for updating files and syncing  with others
                div.design-achivement
                    img.design-achivement-icon(src='#{imgpre}/chanllenge.png')
                    div.design-achivement-title.design-text-title Chanllenge
                    div.design-achivement-content.design-text-content We started the project right after windows 8 published, the modern and flat design language was required for the app design. Very limited guidelines available
                div.design-achivement.design-achivement-last
                    img.design-achivement-icon(src='#{imgpre}/achievement.png')
                    div.design-achivement-title.design-text-title Achievement
                    div.design-achivement-content.design-text-content The entire gesture touch design are aligned with windows 8 guideline very well. the team also decided to move the same experience to windows phone 7 app.
            div.design-header.col-12.design-img-container
                div.design-text-title Storyboard
                div.design-text-content.design-text-sub-title There were lots of iteration on the scenarios and we brainstormed the storyboards to communicate with partner team making sure we are in the right direction.
                img.design-header-content(src='#{imgpre}/my server/storyboard.png')
            div.design-header.col-12.design-img-container
                div.design-text-title OOB Experience
                img.design-header-content(src='#{imgpre}/my server/OOB.png')
            div.design-header.col-12.design-img-container
                div.design-text-title Interation Prototype
                div.design-text-content.design-text-sub-title To make sure the natural interaction flow , we proposed several prototypes for user testing. Based on the results, we decided the final one and go implementation.
                img.design-header-content(src='#{imgpre}/my server/prototype.png')
            div.design-header.col-12.design-img-container
                div.design-text-title High Fidelity Mockup
                div.design-text-content.design-text-sub-title With more than 20 iterations, we defined 1 8 scenarios with step by step click through mockups and redlines to make sure design quality in each product ship lifecycle
                div#design6_carousel.design-header-content
                    div
                        img(src='#{imgpre}/my server/hifi/1-1.png')
                    div
                        img(src='#{imgpre}/my server/hifi/1-2.png')
                    div
                        img(src='#{imgpre}/my server/hifi/2-1.png')
                    div
                        img(src='#{imgpre}/my server/hifi/2-2.png')
                    div
                        img(src='#{imgpre}/my server/hifi/3-1.png')
                    div
                        img(src='#{imgpre}/my server/hifi/3-2.png')
                    div
                        img(src='#{imgpre}/my server/hifi/4-1.png')
                    div
                        img(src='#{imgpre}/my server/hifi/4-2.png')
                script.
                    $('#design6_carousel').slick({
                        infinite: true,
                        autoplay: true,
                        autoplaySpeed: 2000,
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        responsive: [{
                            breakpoint: 1201,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 1
                            }
                        }, {
                            breakpoint: 721,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }]
                    });
        include ../shared/thx