extends ../shared/layout

block body
    div.col-12.relpos
        div.col-12.relpos.design-img-container.overflow-hidden
            img.design-banner-img.col-12(src='#{imgpre}/arts life/arts_1320.png')
            div.design-banner-title.xs-only Life
        div.col-12.design-img-container
            div.col-12.art-pic(style='background-color: #f2e8dd;')
                div.design-text-title.design-9-title Sketch
                img.design-header-content(src='#{imgpre}/arts life/arts_sketch.png')
            div.col-12.art-pic(style='background-color: #16467c;')
                div.design-text-title.design-9-title(style='color: white;') Watercolor
                img.design-header-content(src='#{imgpre}/arts life/arts_watercolor.png')
        div.design-main-end.col-12.design-black-area(style='background-color: black;')
            div.col-12.design-img-container
                div.design-text-title.design-9-title Belly Dance
                div.design-header-content
                    div.design-3-siblings.nopad
                        img(src='#{imgpre}/arts life/arts_bellydance.png')
                    div.design-3-siblings.nopad
                        img(src='#{imgpre}/arts life/arts_bellydance2.png')
                    div.design-3-siblings.nopad
                        img(src='#{imgpre}/arts life/arts_dance.png')
        div.site-thx More to come :)...
        include ../shared/thx