extends ../shared/layout

block body
    div.col-12.relpos
        div.col-12.relpos.overflow-hidden
            img.design-banner-img.design-img-container.col-12(src='#{imgpre}/CMAT/banner.png')
            div.design-banner-title.xs-only Microsoft Support Tool
        div.design-main-start.design-main-area.col-12
            div.col-12
                div.design-achivement
                    img.design-achivement-icon(src='#{imgpre}/introduction.png')
                    div.design-achivement-title.design-text-title Introduction
                    div.design-achivement-content.design-text-content 50,000+ Support Agents for Windows Store, Microsoft Store, Windows Phone, Microsoft Azure, Office365, XBOX etc.. will use the support tool( code name CMAT) to help Microsoft end customers solve their billing/subscription problems in a time pressure.
                div.design-achivement
                    img.design-achivement-icon(src='#{imgpre}/chanllenge.png')
                    div.design-achivement-title.design-text-title Chanllenge
                    div.design-achivement-content.design-text-content 30+ business groups will be the partners providing requirements and sign off design proposals; The population of users are huge and the business style are total different. We always heard complaints from users and their mangers about the performance, so productivity is king;
                div.design-achivement.design-achivement-last
                    img.design-achivement-icon(src='#{imgpre}/achievement.png')
                    div.design-achivement-title.design-text-title Achievement
                    div.design-achivement-content.design-text-content Streamline workflow/zero window jump/be relevant and contextual improved the performance greatly. we made sure simplicity and consistency through the entire tool design and partner team onboard the tool ahead of planed schedule which is a big coat saving to get rid of the old version.
            div.design-header.col-12
                div.design-text-title Methodology
                div.design-text-content.design-text-sub-title We adopted user centered design approach to kick off the project and defined the prioritized design principles based on user interview.
                div.design-header-content.col-12
                    div.design-4-siblings
                        div.design-page-1-methodology-box
                            div.design-img-container
                                img(src='#{imgpre}/CMAT/defination-200x100.png')
                            div.content-box.design-text-content(style='background-color: #231F20; color: white; opacity: 0.95;')
                                div
                                    strong 18+
                                    span Agent Interviews
                                div(style='margin: 10px 0px;')
                                    strong 8+
                                    span Agile Testing
                                div
                                    strong 5+
                                    span Quick Studies
                    div.design-4-siblings
                        div.design-page-1-methodology-box
                            div.design-img-container
                                img(src='#{imgpre}/CMAT/envision200x100.png')
                            div.content-box.design-text-content(style='background-color: #231F20; color: white; opacity: 0.95;')
                                div Storyboard
                                div(style='margin: 10px 0px;') Scenario validation
                                div Information Architecture
                    div.design-4-siblings
                        div.design-page-1-methodology-box
                            div.design-img-container
                                img(src='#{imgpre}/CMAT/implementation 200x100.png')
                            div.content-box.design-text-content(style='background-color: #231F20; color: white; opacity: 0.95;')
                                div
                                    strong 26+
                                    span Mockup Iterations
                                div(style='margin: 10px 0px;') Hi-fidelity mockups
                                div CSS/UI fit and finish
                    div.design-4-siblings
                        div.design-page-1-methodology-box
                            div.design-img-container
                                img(src='#{imgpre}/CMAT/validation200x100.png')
                            div.content-box.design-text-content(style='background-color: #231F20; color: white; opacity: 0.95;')
                                div
                                    strong 20+
                                    span Remote Study
                                div(style='margin: 10px 0px;')
                                    strong 1+
                                    span Online Survey
                                div
                                    strong 1+
                                    span Onsite Visit
            div.design-header.col-12.design-img-container
                div.design-text-title.col-12 StoryBoard
                div.design-header-content.col-12
                    img.col-12(src='#{imgpre}/CMAT/storyboard.jpg')
        div.design-lightgrey-area.col-12(style='padding-top: 0px;')
            div.design-header.col-12.design-img-container
                div.design-header-content.col-12
                    img.col-12(src='#{imgpre}/CMAT/cmat effect.png')
        div.design-lightgrey-area.col-12.design-main-area(style='padding-top: 0px;')
            div.design-header.col-12.design-img-container
                div.design-text-title High Fidelity
                div.design-text-content.design-text-sub-title We delivered storyboards, hi-fi design with Redline and CSS. To make sure quality, we conducted lot of agile fit and finish iteration with development team
                div#design1_carousel.design-header-content
                    div
                        img(src='#{imgpre}/CMAT/hifi/1-1.jpg')
                    div
                        img(src='#{imgpre}/CMAT/hifi/1-2.jpg')
                    div
                        img(src='#{imgpre}/CMAT/hifi/2-1.jpg')
                    div
                        img(src='#{imgpre}/CMAT/hifi/2-2.jpg')
                    div
                        img(src='#{imgpre}/CMAT/hifi/3-1.jpg')
                    div
                        img(src='#{imgpre}/CMAT/hifi/3-2.jpg')
                script.
                    $('#design1_carousel').slick({
                        infinite: true,
                        autoplay: true,
                        autoplaySpeed: 2000,
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        responsive: [{
                            breakpoint: 1201,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 1
                            }
                        }, {
                            breakpoint: 721,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }]
                    });
        div.design-black-area.design-main-area.design-main-end.col-12
            div.design-header.col-12.design-img-container
                div.design-text-title XBOX Call Center Site Visit
                div.design-text-content.design-text-sub-title We conducted a series of activities including XBOX onsite visit in Portland, customer conference call Interview and deep dive design discussions with stakeholders to collect users’ feedback
                img.design-header-content(src='#{imgpre}/CMAT/XBOX Visit.png')
            div.design-header.col-12.design-img-container
                div.design-text-title Report
                div.design-text-content.design-text-sub-title Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sapien diam, fringilla non porta eget, cursus vitae lectus. Vivamus sit amet sapien ac lectus pretium consectetur non quis elit. Donec sem ante, tempus at mauris sed, bibendum pellentesque nisi.
                div.design-header-content.col-12(style='color: white;')
                    div.design-3-siblings-design1
                        div.col-12.need-align-design5.design1-container
                            div.col-12.design1-color-light Total comments
                            div.col-12.design1-font-big 54
                            div.col-12
                                span.design1-font-midbig.design1-v-mid 8
                                span.design1-ml-10.design1-v-mid.design1-color-light.design1-font-mid agents
                            div.col-12.design1-mt-20
                                span.design1-font-midbig.design1-v-mid 3
                                span.design1-ml-10.design1-v-mid.design1-color-light.design1-font-mid stackholders
                    div.design-3-siblings-design1.middle
                        div.col-12.need-align-design5.design1-container.nopad
                            img(src='#{imgpre}/CMAT/CMAT-06.png')
                    div.design-3-siblings-design1
                        div.col-12.need-align-design5.design1-container
                            div.col-12
                                span.design1-font-midbig2.design1-v-mid 26
                                span.design1-font-midbig0.design1-mr-15(style='vertical-align: bottom;') %
                                span.design1-font-sm.design1-v-mid.design1-color-light(style='display: inline-block;') have already been solved in
                            div.col-12.design1-mt-60
                                span.design1-font-midbig2.design1-v-mid 58
                                span.design1-font-midbig0.design1-mr-15(style='vertical-align: bottom;') %
                                span.design1-font-sm.design1-v-mid.design1-color-light(style='display: inline-block;') got the design and technical solutions
                            div.col-12.design1-mt-60
                                span.design1-font-midbig2.design1-v-mid 16
                                span.design1-font-midbig0.design1-mr-15(style='vertical-align: bottom;') %
                                span.design1-font-sm.design1-v-mid.design1-color-light(style='display: inline-block;') will be put into requirement pool
        include ../shared/thx