extends ../shared/layout

block body
    div.col-12.relpos
        div.col-12.relpos.design-img-container.overflow-hidden
            img.design-banner-img.col-12(src='#{imgpre}/women conference/banner.png')
            div.design-banner-title.xs-only Women Conference
        div.design-main-start.design-main-area.col-12
            div.design-header.col-12.design-header-notop
                div.design-text-title Introduction
                div.design-text-content.design-text-sub-title In 2013 Microsoft Shanghai Women Conference, i took PM role of the overall planning and execution on behalf of Shanghai Women Board. With goals of enhancing GCR women’s community, providing networking and training opportunities, advocating work-life balance, and diverse culture in Microsoft, this year’s theme was ”Live a Colorful Life”. A full day agenda packed with 3 powerhouse speakers, 5 parallel career-enhancing presentations, 4 beatification classes, and 1 closing speech. Meanwhile, i was also design lead for the VI and promotion design works.
            div.design-header.col-12
                div.design-text-title Logo
                div.design-text-content.design-text-sub-title Based on the conference theme” Live a Colorful Life”, we came up the logo design concept from the crystal which is pure and can reflect the light into beautiful colors.
                div.design-header-content.design-img-container.col-12
                    div.design-3-siblings-wc
                        img(src='#{imgpre}/women conference/logo-1.png')
                    div.design-3-siblings-wc(style='background-color: #989898;')
                        img.wc-middle(src='#{imgpre}/women conference/logo-2.png')
                    div.design-3-siblings-wc
                        img(src='#{imgpre}/women conference/logo-3.png')
        div.wc-images-area.col-12.design-img-container.design-main-end
            div.wc-images-area-words On 4/18, we got together in the Commons on Zi Zhu campus for the Shanghai Women’s Conference annual event. With more than 180 women & men participates, the conference has generated positive thought provoking discussions and reflections.
            div.wc-images-area-words.smaller  With more than 180 women & men participates on4/8, the conference has generated positive thought provoking discussions and reflections.
            img(src='#{imgpre}/women conference/women conference-02.png')
            img(src='#{imgpre}/women conference/board photo.jpg')
            img(src='#{imgpre}/women conference/women conference-video.png')
        include ../shared/thx
