extends ../shared/layout

block body
    div.col-12.relpos
        div.col-12.relpos.design-img-container.overflow-hidden
            img.design-banner-img.col-12(src='#{imgpre}/others/others-06.png')
            div.design-banner-title.xs-only Others
        div.design-main-area.col-12
            div.design-header.col-12
                div.design-text-title Bitcoin App
                div.design-text-content.design-text-sub-title This is a windows phone app which is a Fast Pay concept based and can enable end customers to send/receive Microsoft Currency Store Value to/from friends or Merchants; Later on, we also add more scenarios to support Bitcoin as a payment method in this app.
        div.col-12.design-img-container
            img(src='#{imgpre}/others/others-01.png')
        div.design-main-end.design-main-area.col-12
            div.design-header.col-12.design-img-container
                div.design-text-title UX Team Letters
                div.design-text-content.design-text-sub-title Since the beginning of the fiscal year FY14, I lead C&E UX China teammates to start quarterly newsletter in order to share design and research project updates, events and achievements from our team, and to tell little stories about our team members. The feedback is pretty good from the Shanghai site of Cloud & Enterprise Division
                img.design-header-content(src='#{imgpre}/others/others-02.png')
            div.design-header.col-12.design-img-container
                div.design-text-title State Machine Interaction
                div.design-text-content.design-text-sub-title State Machine is one of the workflow designers for Visual Studio and I redesigned user interactions such as creating connections and input parameters etc. I also got patents on one of the interactions through Microsoft.
                img.design-header-content(src='#{imgpre}/others/others-03.jpg')
            div.design-header.col-12.design-img-container
                div.design-text-title Data Visualization
                div.design-text-content.design-text-sub-title This is a project of a hospital which will need to clarify the functional map and workflows between different user roles. We separated and prioritized scenarios per use case through infinite mapping practice.  and then delivered the infographic map to visualize the user/function/flow relationships.
                img.design-header-content(src='#{imgpre}/others/others-04.jpg')
            div.design-header.col-12.design-img-container
                div.design-text-title Casino Gaming Management
                div.design-text-content.design-text-sub-title I worked on this Casino product for a year which is a gaming management system for dealers and all department users in Casino. The modules included table areas, fill/credit transactions, income control and central bank and also the interaction in between. We conducted a lot of customer visits to collect user requirements and present design to get approval. We adopted UCD and fully utilize the outcomes to move forward.
                img.design-header-content(src='#{imgpre}/others/others-05.jpg')
        include ../shared/thx